.logbook-container {
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: rgba(127, 163, 255, 0.16); /* 背景颜色设置为白色且半透明 */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  max-width: 600px;
  backdrop-filter: blur(10px); /* 磨砂玻璃效果 */
}

.logbook-title {
  font-size: 24px;
  font-style: italic; /* 设置斜体 */
  font-weight: bold; /* 设置加粗 */
  border-bottom: 1px solid rgba(68, 68, 68, 0.2); /* 调整下划线颜色 */
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #0077ff; /* 调整标题颜色 */
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-item input[type='checkbox'] {
  margin-right: 10px;
  accent-color: #0077ff; /* 调整勾选框颜色 */
}

.task-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
  /* color: #ffffff; */
}

.task-item span {
  font-size: 18px; /* 调整任务文本大小 */
}

.add-task {
  margin-top: 20px;
  display: flex;
}

.add-task input {
  padding: 5px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* 调整输入框背景色并增加透明度 */
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.add-task button {
  padding: 5px 10px;
  background-color: #007acc; /* 调整按钮背景色 */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #005f99; /* 调整按钮悬停时的背景色 */
}
